<div class="row justify-content-center align-items-center">
    <div class="d-flex flex-column">
        {{#if account_deleted}}
            <div class="alert alert-danger col-4 align-self-center">Account was successfully deleted.</div>
        {{/if}}
        <div id="relative" class="d-flex justify-content-center">
            <img src="" class="img-fluid" style="max-height: 400px;">
        </div>
        <div id="move-buttons" class="d-flex justify-content-center">
            
        </div>
    </div>
</div>


            <form class="login-form">

                    <div class="mb-3">
                        <label for="username-login" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username-login" placeholder="Username">
                    </div>
                    <div class="mb-3">
                        <label for="password-login" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password-login" placeholder="Password">
                    </div>

                    <button type="submit" class="btn button-72 text-white">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/js/login.js"></script>